@keyframes click-animate {
  from {
    scale: 0.95;
    opacity: 0.5;
  }
  to {
    scale: 1;
  }
}

.counter {
  display: flex;
  font-size: 2rem;
  margin: 2rem 0;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;

  &__button {
    border-style: none;
    background-color: coral;
    color: white;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 3rem;
    border-radius: 5px;

    &:active {
      animation: click-animate 0.5s;
    }
  }

  &__quantity {
    margin: 0;
    width: 36px;
    text-align: center;
  }
}
