.server-page {
  &__header {
    font-size: 24px;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: #369cde;
    color: white;
    position: sticky;
    top: 0;
  }

  &__link {
    color: white;
    text-decoration: none;
    background-color: rgb(2, 194, 53);
    font-size: 1rem;
    padding: 0.3rem 0.5rem;
    border-radius: 0.5rem;
  }
  &__menu-icon {
    width: 2rem;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.popUp {
  background-color: rgba(0, 0, 0, 0.544);
  position: fixed;
  top: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeIn 0.2s;
  z-index: 2;

  &__card {
    border-radius: 1rem;
    background-color: white;
    width: 80%;
    height: 50%;
    max-width: 400px;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  &__header {
    font-size: 2rem;
  }

  &__bottom-section {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 1rem;
  }

  &__button {
    width: 50%;
    border-style: none;
    font-size: 1rem;
    padding: 0.8rem 0;
    border-radius: 1rem;
    color: white;

    &--no {
      background-color: rgb(255, 80, 80);
    }

    &--yes {
      background-color: green;
    }
  }
}
