.orders {
  &__header {
    margin: 0;
    padding: 1rem;
    color: white;
    background-color: #369cde;
    position: sticky;
    top: 0;
    font-size: 30px;
    height: 70px;
    display: flex;
    align-items: center;
  }
}
