.history {
  padding-top: 2rem;

  &__link {
    margin-left: 2rem;
    background-color: coral;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
  }

  &__header {
    width: 100%;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 0;
    padding-bottom: 1rem;
    border-bottom: 1px solid lightgray;
  }
}
